body{
    background-color: rgb(188, 211, 231);
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(14, 54, 88);
    margin-top: 250px;
    font-size: 40px;
}
